@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  @apply bg-white text-gray-900 dark:bg-dark-bg dark:text-gray-100 transition-colors duration-200;
}
